<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="iothubconnectionstring" value="<- your IoT Hub connection string - shoud include service and readRegistry roles ->"/>
	</appSettings>
</configuration>